<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <a class="navbar-brand" href="#">WikiLAB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbarNav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pages" routerLinkActive="active">Pages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users" routerLinkActive="active">Utilisateurs</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link mr-3" routerLink="/login">Se connecter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/register">Créer un compte</a>
        </li>
    </ul>
</nav>