<app-navbar></app-navbar>
<div class="col-xs-12">
    <h2>Liste des pages</h2>
    <div class="list-group border rounded border-primary">
        <ul>
            <li *ngFor="let page of pages">
                <a routerLink="/pages/{{page.id}}">{{page.id}} {{page.title}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="list-group border rounded border-primary">
    <h2>Nouvelle page</h2>
    <div>
        <h4>Titre de la page</h4>
        <input type="text" class="form-control" [(ngModel)]="valeurTitle">
    </div>
    <div>
        <h4>Contenu</h4>
        <input type="text" class="form-control" [(ngModel)]="valeurContent">
    </div>
    <button class="btn btn-primary" (click)="addPage(valeurTitle, valeurContent)">Enregistrer</button>
</div>
<div class="list-group border rounded border-primary">
    <h2>Updater une page</h2>
    <h4>Id de la page</h4>
    <input type="number" class="form-control" [(ngModel)]="id">
    <div>
        <h4>Titre de la page</h4>
        <input type="text" class="form-control" [(ngModel)]="valeurTitle">
    </div>
    <div>
        <h4>Contenu</h4>
        <input type="text" class="form-control" [(ngModel)]="valeurContent">
    </div>
    <button class="btn btn-primary" (click)="updatePage(id, valeurTitle, valeurContent)">Update</button>
</div>
<div class="list-group border rounded border-primary">
    <h2>Supprimer une page</h2>
    <input type="number" class="form-control" [(ngModel)]="id">
    <button class="btn btn-primary" (click)="deletePage(id)">Supprimer</button>
</div>