<app-navbar></app-navbar>
<br>
<br>
<br>
<p>Le SILAB ayant été créé par et pour les alternants, au fil des années, un amoncellement de projets et de données se
    sont
    accumulés sans forcément qu'on y fasse de l'ordre. Cependant, plus le temps passe, plus il est complqué de s'y
    retrouver
    pour un nouvel arrivant. Ainsi, nous avons eu l'idée de créer un Wiki regroupant toutes les informations utiles et
    nécessaires à la transmission de savoirs et de savoirs-faire au sein du laboratoire. Deux objectifs sont visés : le
    premier étant la simplicité d'utilisation et d'apprentissage aux travers des expériences de nos prédécesseurs ; le
    second est d'optimiser le temps des alternants et stagiaires en évitant de leur en faire perdre avec des tâches non
    essentielles comme la recherche de matériel au sein même du SILAB par exemple.</p>